<tr>
  <td class="align-middle">{{ label }}</td>
  <td class="text-start align-middle">
    {% if component %}
      <img
        src="{{ component.image }}"
        class="img-thumbnail me-2"
        style="width:50px; height:50px; object-fit:contain;"
        onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg';"
      >
      <a
        href="{% url 'component_detail_with_build' type component.id build.id %}"
        class="text-decoration-none text-light"
      >
        {{ component.name }}
      </a>
    {% else %}
      <span class="text-secondary">Not Selected</span>
    {% endif %}
  </td>
  <td class="align-middle">
    {% if type == 'cpu' and component.cpu_mark %}
      CPU Mark: {{ component.cpu_mark }}
    {% elif type == 'gpu' and component.g3d_mark %}
      G3D Mark: {{ component.g3d_mark }}
    {% else %}
      &mdash;
    {% endif %}
  </td>
  <td class="align-middle">
    <a
      href="{% url 'component_with_build' type build.id %}"
      class="btn btn-primary btn-sm"
    >
      Change
    </a>
  </td>
  <td class="align-middle">
    {% if link %}
      <a
        href="{{ link }}"
        target="_blank"
        class="btn btn-primary btn-sm"
      >
        Buy
      </a>
    {% else %}
      &mdash;
    {% endif %}
  </td>
  <td class="align-middle">
    {% if component and component.min_price %}
      €{{ component.min_price|floatformat:2 }}
    {% else %}
      N/A
    {% endif %}
  </td>
</tr>